@import '../../styles/colors.scss';

.custom-select {
  width: 100%;
  position: relative;
}

.select__header {
  height: 35px;
  width: 100%;
  background-color: $White;
  border-radius: 5px;
  border: 1px solid $Black;
  outline: none;
  margin: 10px 0;
  padding: 0 20px;
  color: $Black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.select__options {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: $White;
  overflow-y: auto;
  max-height: 165px;
  z-index: 1000;
  color: $Black;
  cursor: pointer;
}

.select__option {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  outline: none;
  padding: 0 20px;
  cursor: pointer;
}

.select__option:hover {
  background-color: $Gray;
  color: $Black;
}
