.dark .input > label {
  color: $SecondaryColorDark;
}

.dark .input > input {
  background-color: $InputBgDark;
  border: 2px solid $SecondaryColorDark;
  color: $SecondaryColorDark;
}

.dark .input > input::placeholder {
  color: $SecondaryColorDark;
}

.dark .input__icon {
  color: $SecondaryColor;
  border-right: 2px solid $SecondaryColorDark;
}

input.wrong {
  border: 2px solid $Notification;
}
