.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65px;
  position: relative;
  margin-bottom: 16px;
}

.input > label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  color: $MainColor;
}

.input > input {
  background-color: $InputBg;
  height: 40px;
  outline: none;
  border: 2px solid $SecondaryColor;
  border-radius: 5px;
  padding-left: 56px;
}

.input > input::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: $SecondaryColor;
}

.input__icon {
  position: absolute;
  top: 26px;
  left: 1px;
  color: $SecondaryColor;
  height: 39px;
  width: 40px;
  border-right: 2px solid $SecondaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

input.wrong {
  border: 2px solid $Notification;
}
