.contact {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
}

.contact:hover {
  background-color: #e6ebf5;
}

.contact__image {
  position: relative;
  width: 60px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.contact__status {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 10px;
  height: 10px;
  background-color: $Red2;
  border-radius: 50%;
  border: 2px solid #fff;
}

.contact__status.online {
  background-color: $Green2;
}

.contact small {
  width: 60px;
}

.contact__data {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__name {
  font-size: 15px;
  font-weight: 600;
}

.contact__msg {
  font-size: 14px;
  color: $SecondaryColor;
}

.contact small {
  color: $SecondaryColor;
}

.contact__time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__time > small {
  width: 20px;
  height: 20px;
  background-color: #f1d0e2;
  border-radius: 50%;
  color: #eb5976;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
}
