.dark .contacts {
  color: $MainColorDark;
}

.dark .contact:hover {
  background-color: $MainBgDark2;
}

.dark .contact__status {
  background-color: $Red2;
}

.dark .contact__status.online {
  background-color: $Green2;
}

.dark .contact__msg {
  color: $SecondaryColorDark;
}

.dark .contact small {
  color: $SecondaryColor;
}
