.contact__item {
  height: 45px;
  display: flex;
  margin: 4px 0;
  cursor: pointer;
}

.contact__item > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4px 0 8px;
  border-bottom: 1px solid $Gray;
}

.contact__name {
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: space-between;
}

.contact__item__notifications {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.contact__item__notifications * {
  font-size: 12px;
}

.contact__item__notifications .round {
  background-color: $Red;
  border-radius: 5px;
  color: $White;
  font-weight: bold;
  padding: 2px;
}
