.home_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
  border: none;
  background-color: transparent;
}

.main_container {
  height: 100%;
  width: 320px;
  background: $Black;
  background: linear-gradient(153deg, $Gray 20%, $Shark 41%, $Black 100%);
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px $Black;
  padding: 16px;
  margin: 0 50px;
}
