@import './dark.scss';
@import './Menu/index.scss';
@import './Screen1/index.scss';
@import './Screen2/index.scss';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.home > div {
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}

.home > div:nth-child(1) {
  width: 75px;
  background-color: $White;
}

.home > div:nth-child(2) {
  width: 350px;
  background-color: $MainBg2;
}
.home > div:nth-child(3) {
  width: calc(100% - 425px);
  background-color: $White;
  padding-top: 0;
}

@media (max-width: 768px) {
  .home > div:nth-child(2) {
    width: 40%;
  }
  .home > div:nth-child(3) {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .home > div:nth-child(2) {
    width: calc(100% - 75px);
  }
  .home > div:nth-child(3) {
    display: none;
  }
}
