@import './Image/index.scss';
@import './Name/index.scss';
@import './Online/index.scss';
@import './Status/index.scss';

.profile {
  height: 100%;
  background-color: transparent;
  overflow: auto;
  color: $MainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}

.profile__header > svg {
  cursor: pointer;
}
