.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 30px;
  color: $MainColor;
  padding-top: 24px;
}

.menu img {
  width: 45px;
  height: 45px;
}

.menu__item {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
