.dark .create {
  color: $MainColorDark;
}

.dark .collapsible {
  border: 1px solid $MainColorDark;
}

.dark .collapse_content {
  background-color: $MainBgDark2;
  border: 1px solid $MainBgDark2;
}
