$White: #ffffff;
$Black: #000000;
$Notification: #eb579b;
$Red1: #f2dede;
$Red2: #b04742;
$Green1: #cdf7ec;
$Green2: #317053;
$Blue1: #7269ef;
$Blue2: #7200f7;

$MainColor: #495057;
$SecondaryColor: #7a7f9a;

$MainBg: #f7f7ff;
$MainBg2: #f5f7fb;
$InputBg: #f4f6fa;

$MainColorDark: #f4f6fa;
$SecondaryColorDark: #839db1;
$MainBgDark: #303841;
$MainBgDark2: #262e34;

$InputBgDark: #495057;

$LinksColor: #5c60d8;
