// $White: #ffffff;
// $Black: #000000;
// $Shark: #1a1d25;
// $Gray: #3c3f48;
// $Red: #ee4c4e;

$White: #ffffff;

$Black: #000000;
$BrilliantRose: #eb579b;
// main color
$Trout: #495057;

// secondary color
$Waterloo: #7a7f9a;

// main background color
$TitanWhite: #f7f7ff;
$OuterSpace: #303841;

// background of inputs -light-
$CatskillWhite: #f4f6fa;

// border of inputs -light-
$WhiteLilac: #e6ebf5;

// button background
$CornflowerBlue: #7269ef;

// button color on hover
$ElectricViolet: #7200f7;

// DARD_COlORs
$BaliHai: #839db1;
$OuterSpace2: #262e34;
$Indigo: #5c60d8;

//
$MintTulip: #cdf7ec;
$textSuccess: #9beeed;
