@font-face {
  font-family: lobster;
  src: url('../assets/fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: robotBold;
  src: url('../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: robot;
  src: url('../assets/fonts/Roboto-Regular.ttf');
}
