@import './fonts.scss';
@import './colors.scss';

.title1_txt {
  font-family: robotBold;
  font-size: 18px;
}

.title2_txt {
  font-family: robot;
  font-size: 17px;
}

.title3_txt {
  font-family: lobster;
  font-size: 22px;
}

.c_red {
  color: $Red;
}

.c_gray {
  color: $Gray;
}

.c_black {
  color: $Black;
}

.bg_red {
  background-color: $Red;
}

.bg_gray {
  background-color: $Gray;
}

.bg_black {
  background-color: $Black;
}
