@import './imports.scss';

body {
  margin: 0;
  height: 100vh;
  overflow: auto;
  font-family: 'Public Sans', sans-serif;
  overflow-y: auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}
