@import './imports.scss';

body {
  margin: 0;
  background: $Black;
  background: linear-gradient(153deg, $Black 36%, $Shark 61%, $Gray 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: $White;
  overflow: hidden;
}

* {
  font-family: robot;
  font-size: 17px;
  box-sizing: border-box;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

input {
  cursor: text;
}
