@import './fonts.scss';
@import './colors.scss';
@import './auth.scss';
@import './general.scss';
@import '../components/ToggleButton/index.scss';
@import '../screens/Home/index.scss';
@import '../screens/Contacts/index.scss';
@import '../screens/Messages/index.scss';
@import '../components/Select/index.scss';
@import '../components/ContactItem/index.scss';

body {
  margin: 0;
  background: $Black;
  background: linear-gradient(153deg, $Black 36%, $Shark 61%, $Gray 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: $White;
  overflow: hidden;
}

* {
  font-family: robot;
  font-size: 17px;
  box-sizing: border-box;
  // cursor: default;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

input {
  cursor: text;
}
