@import '../../styles/colors.scss';

.message {
  border-radius: 10px 10px 10px 10px;
  padding: 2px 16px;
  width: auto;
  color: $White;
  margin: 0px 16px 8px 16px;
  display: inline-block;
}

.message.left {
  border: 2px solid $Shark;
  border-bottom-left-radius: 0px;
  background-color: $Shark;
  align-self: flex-start;
}

.message.right {
  border: 2px solid $Red;
  border-bottom-right-radius: 0px;
  background-color: $Red;
  align-self: flex-end;
}
