.fb-login {
  background-color: #385c8e;
  color: $White;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 0 24px;
}
