@import '../../styles/colors.scss';

.messages_wrraper {
  width: 60%;
  max-width: 550px;
  height: 100%;
  background: $Black;
  background: linear-gradient(153deg, $Gray 40%, $Shark 61%, $Black 100%);
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px $Black;
  padding: 16px;
}

.messages {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

// * scrollbar style
.messages::-webkit-scrollbar {
  width: 3px;
}
.messages::-webkit-scrollbar-track {
  background: $White;
}
.messages::-webkit-scrollbar-thumb {
  background: $Gray;
}

@media (max-width: 425px) {
  .messages {
    width: 100%;
  }
}
