.dark .auth {
  background-color: $MainBgDark;
}

.dark .auth > h4 {
  color: $MainColorDark;
}

.dark .auth > p {
  color: $SecondaryColorDark;
}

.dark .auth-form {
  background-color: $MainBgDark2;
}

.dark .auth__span {
  color: $SecondaryColorDark;
}
.dark .auth__span > a {
  color: $LinksColor;
}

.dark .separator {
  color: $MainColorDark;
}

.dark .separator::before,
.separator::after {
  border-bottom: 1px solid $SecondaryColor;
}
