.auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $MainBg;
  overflow-y: auto;
  padding: 40px 0px;
}

.auth > h4 {
  font-size: 21px;
  margin-bottom: 8px;
  color: $MainColor;
}

.auth > p {
  color: $SecondaryColor;
  font-size: 15px;
  margin-bottom: 24px;
}

.auth-form {
  width: 450px;
  background-color: $White;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.auth__span {
  color: $MainColor;
}
.auth__span > a {
  color: $Blue2;
  text-decoration: none;
}

.social_login {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 450px;
  margin: 16px 0px;
  color: $MainColor;
}
.separator::before,
.separator::after {
  margin: 0 8px;
  content: '';
  flex: 1;
  border-bottom: 1px solid $MainColor;
}
.main-icon {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.main-icon > img {
  height: 52px;
}

.main-icon > h1 {
  font-size: 30px;
  color: $MainColor;
  font-family: 'Kaushan Script', cursive;
}

@import './smallScreens.scss';
