@import './Contact/index.scss';
@import './dark.scss';

.contacts {
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  color: $MainColor;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.contacts_header {
  padding: 0 16px;
}

.contact__thumbnails {
  overflow: auto;
}
