.alert {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $Red1;
  color: $Red2;
  border-radius: 5px;
  padding: 8px;
  width: 350px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success--alert {
  background-color: $Green1;
  color: $Green2;
}
