.profile__status__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 48px;
  color: $SecondaryColor;
  font-size: 15px;
  font-weight: 400;
}

.profile__status__innercontainer {
  padding: 0 8px;
  padding-bottom: 8px;
  width: 100%;
}

.profile__status__innercontainer > h5 {
  position: relative;
  font-weight: 400;
}

.status--edit {
  position: absolute;
  top: -15px;
  right: 10px;
  display: none;
}

.profile__status__innercontainer:hover .status--edit {
  display: block;
  cursor: pointer;
}

.profile__status__innercontainer > textarea {
  min-height: 40px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  color: $SecondaryColor;
  border-bottom: 2px dotted $SecondaryColor;
  font-weight: 500;
  resize: none;
  height: 70px;
  overflow: auto;
}
